.contentContainer {
  background-color: #F7F8F9;
  min-height: calc(100vh - 4rem);
  padding-top: 30px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1023px;
  margin: auto;
  gap: 30px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1023px;
}

.emptyStateContainer {
  background-color: #F7F8F9;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
