.card {
  margin: 30px;
  min-width: 321px;
  max-width: 321px;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #E7E7ED;
}

.repoInfo {
  font-size: 14px;
  font-weight: 600;
  color: #272833;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repoInfo img {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}

.actions button {
  padding: 6px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 0px 18px;
  padding-top: 8px;
}

.cardBody p {
  font-weight: 600;
  margin: 0;
  color: #272833;
}

.cardBody span {
  font-weight: 400;
}

.label {
  text-transform: uppercase;
  margin: 15px
}
