.confirmMsg {
  font-weight: 400;
  font-size: 14px;
}

.confirmMsg span {
  font-weight: 600;
}

/* Dark Theme */
.modalContainerDark div div  {
  border-radius: 0%;
}

.modalContentDark {
  background-color: #393a4a;
  color: #fff;
  border-color: #495057;
}

.cancelButtomDark {
  background-color: #495057;
  color: #fff;
  border: none;
}

.cancelButtomDark:hover {
  background-color: #495057;
  background-color: #6b6c7e;
  color: #fff;
  border: none;
}
